[Interface]
Address = {{ new_client_ip }}/32
DNS = {{ wg_ip_pool_part }}.1
PrivateKey = {{ new_private_key_file.stdout }}

[Peer]
PublicKey = {{ server_public_key_file.stdout }}
AllowedIPs = 0.0.0.0/0
Endpoint = {{ ansible_default_ipv4.address }}:{{ wg_port }}
PersistentKeepalive = 21